# Renewables Ninja client - example

In [1]:
import pandas as pd
from renewables_ninja_client import Client, query_pv, query_wind

In [2]:
import logging
logging.basicConfig()

In [3]:
# query args
lat = 34.125
lon = 39.814
date_from = pd.datetime(2015, 1, 1)
date_to = pd.datetime(2015,12,31)
capacity = 1.0
system_loss = 0.1
tracking = False
tilt = 35
azim = 180

dataset = 'merra2'

## PV

In [4]:
client = Client.from_file()

In [5]:
pv_df = query_pv(
    client = client,
    date_from = date_from, 
    date_to = date_to, 
    lat = lat, 
    lon = lon, 
    tilt = tilt, 
    azim = azim, 
    capacity = capacity,
    system_loss = system_loss, 
    tracking = tracking, 
    dataset = dataset,
)

pv_df.head()

                  electricity
time
2015-01-01 00:00        0.000
2015-01-01 01:00        0.000
2015-01-01 02:00        0.000
2015-01-01 03:00        0.000
2015-01-01 04:00        0.006

## Wind

In [6]:
height = 80.
capacity = 1.
turbine='Vestas V80 2000'

In [7]:
wind_df = query_wind(client, date_from, date_to, lat, lon, height, capacity, turbine)

wind_df.head()

                  electricity
time
2015-01-01 00:00        0.584
2015-01-01 01:00        0.558
2015-01-01 02:00        0.526
2015-01-01 03:00        0.537
2015-01-01 04:00        0.559