In [1]:
import pandas as pd
import renewables_ninja as ninja

In [2]:
# query args
lat = 24.7532
lon = 55.3626
date_from = pd.datetime(2014, 1, 1)
date_to = pd.datetime(2014,12,31)
dataset = 'merra2'
capacity = 1
system_loss = 10
tracking = 1
tilt = 0
azim = 180
metadata = False
raw = False
interpolate=True

In [3]:
pv_df = ninja.query_pv(lat=lat, lon=lon, date_from=date_from, date_to=date_to, 
                       dataset=dataset, capacity=capacity, system_loss=system_loss, 
                       tracking=tracking, tilt=tilt, azim=azim, metadata=metadata, raw=raw, 
                       interpolate=interpolate)

In [4]:
pv_df.head()

                     output
2014-01-01 00:00:00   0.000
2014-01-01 01:00:00   0.000
2014-01-01 02:00:00   0.000
2014-01-01 03:00:00   0.227
2014-01-01 04:00:00   0.506