# Renewables Ninja client - example

In [1]:
import pandas as pd
import renewables_ninja as ninja

In [2]:
# query args
lat = 24.7532
lon = 55.3626
date_from = pd.datetime(2014, 1, 1)
date_to = pd.datetime(2014,12,31)
capacity = 1
system_loss = 10
tracking = 1
tilt = 0
azim = 180

dataset = 'merra2'

## PV

In [3]:
pv_df = ninja.query_pv(lat, lon, date_from, date_to, 
                       tilt, azim, tracking, system_loss, 
                       capacity, dataset)

pv_df.head()

                     output
2014-01-01 00:00:00   0.000
2014-01-01 01:00:00   0.000
2014-01-01 02:00:00   0.000
2014-01-01 03:00:00   0.227
2014-01-01 04:00:00   0.506

## Wind

In [4]:
height = 80
capacity = 1
turbine='Vestas V80 2000'

In [5]:
wind_df = ninja.query_wind(lat, lon, date_from, date_to, height, capacity, turbine)

wind_df.head()

                     output
2014-01-01 00:00:00   0.483
2014-01-01 01:00:00   0.489
2014-01-01 02:00:00   0.497
2014-01-01 03:00:00   0.499
2014-01-01 04:00:00   0.384